* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: aquamarine;
}
/* Header */
header {
  background-color: #ff000f;
  height: 80px;
}

.course_header {
  color: white;
  background-color: #ff6600;
  border-radius: 50px;
  box-shadow: 3px 3px #ff6600, -3px -3px #ff6600;
}
.course_header a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.course_header a:nth-child(1)::before {
  content: "<";
  padding-right: 12px;
}

.course_header a:nth-child(3)::after {
  content: ">";
  padding-left: 12px;
}

.course_header a:hover {
  font-size: 20px;
}

/* Center */
.section_grid {
  grid-template-columns: 1fr 1fr;
  padding-block: 50px;
  padding-left: 50px;
  border-bottom: 2px solid red;
  color: brown;
}

.section_grid img {
  width: 200px;
  height: 150px;
}

.arab_course {
  display: grid;
  gap: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #fffb00;
  border-left: 2px solid #fffb00;
}

.arab_course h1 {
  font-size: 35px;
  font-family: "Arvo", serif;
}

.arab_course p {
  width: 500px;
  font-family: "Montserrat", sans-serif;
}

.arab_course a {
  background-color: rgb(89, 0, 255);
  color: #fff;
  text-align: center;
  width: 150px;
  padding: 5px 10px;
  text-decoration: none;
}

.arab_course a:hover {
  font-size: 20px;
}

/* Footer */
footer {
  background-color: rgb(31, 25, 25);
  height: 200px;
  margin-top: 30px;
}
.course_footer {
  color: #fff;
}

.footer_link {
  flex-direction: column;
}

.footer_link a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.footer_link a:hover {
  font-size: 20px;
}
.footer_link a:nth-child(2) {
  padding: 15px;
}

.footer_social a {
  color: red;
  margin-left: 50px;
}

/* Registration site */
body {
  background-color: rgba(129, 129, 129, 0.4);
}

.register_head {
  background-color: rgba(129, 129, 129, 0);
  height: 120px;
  border-bottom: 5px solid #ff6600;
}

.first_a {
  background-color: #ff6600;
  width: 200px;
  text-align: center;
  border-radius: 50px;
}
.second_a {
  background-color: #ff6600;
  width: 200px;
  text-align: center;
  border-radius: 50px;
}
.third_a {
  background-color: #ff6600;
  width: 200px;
  text-align: center;
  border-radius: 50px;
}
.register_chapter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}
.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50%;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 80s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, 50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: auto;
}

@media (max-widht: 500px) {
  header {
    height: 110px;
  }
  .flex {
    flex-direction: column;
  }
  header ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
